.admin {
  width: 100%;
  height: 90vh;
  justify-content: space-between;
}

.admin * {
  box-sizing: border-box;
  border-radius: 8px;
}

.admin h3 {
  margin-top: 6px;
}

.pantryList {
  flex: none;
  border: 1px solid var(--dirt);
  width: 240px;
  height: 100%;
  justify-content: flex-start;
  background-color: var(--trBrown);
  box-shadow: var(--cardShadow);
}

.pantryListEntry {
  width: 100%;
  height: 32px;
  padding: 6px;
  padding-top: 12px;
  border-radius: 0;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
}

.pantryListEntry * {
  pointer-events: none;
  user-select: none;
}

.pantryListEntry:hover {
  cursor: pointer;
  background-color: var(--trSky);
}

.pantryListBody {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  background: var(--cardGrad);
}

.pantryView {
  flex: auto;
  height: 100%;
  margin-left: 2vh;
  border: 1px solid var(--dirt);
  background: linear-gradient(to top, var(--lightBrown) 1%, rgb(251 220 200) 1%, #eddfdabd 95%);
  box-shadow: var(--cardShadow);
}

.configButton {
  cursor: pointer;
}

.pantryConfig {
  width: 100%;
  height: calc(100% - 42px);
  padding: 2vh;
  box-sizing: border-box;
  border-radius: 0 8px 8px 0 !important;
  justify-content: center;
  align-items: flex-start;
  padding: 2vh;
  overflow: auto;
}

.configBody {
  min-width: 400px;
  width: 100%;
  align-items: flex-start;
}

#configForm, .pantryConfig * {
  border-radius: 8px !important;
}

.pantryConfig b {
  margin-right: 8px;
  min-width: 100px;
  text-align: right;
}

#configForm {
  align-items: flex-start;
  width: 100%;
}

#configForm hr {
  width: 100%;
  border: 1px solid var(--dirt);
  border-bottom: transparent;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

#configForm .configSave {
  justify-content: flex-end;
}

.configImageContainer {
  padding: 1vh;
  padding-bottom: 0;
}

.pantryImage {
  margin: 0;
  margin-right: 1vh;
  box-shadow: var(--cardShadow);
  width: 200px;
  aspect-ratio: 1;
  object-fit: cover;
}

.configLabel {
  justify-content: flex-start;
}

.configInput, .configTextArea {
  height: 30px;
  width: 280px;
  margin-right: 6px;
  background-color: var(--trWhite);
}

.iSmall {
  width: 100px;
}

.iMedium {
  width: 160px;
}

.configTextArea {
  height: 90px;
  min-width: 240px;
  max-width: 240px;
}

.saveContainer {
  height: 100px;
  width: 100%;
  justify-content: center;
}

.configSave {
  background-color: var(--leaf);
  padding: 4px;
  border: 1px solid var(--dirt);
  box-shadow: 0 1px 2px var(--shadow);
  cursor: pointer;
  user-select: none;
  width: 160px;
  align-self: center;
  transition: background-color 0.5s;
}

.configSave:hover {
  background-color: var(--trSky);
}