.admin {
  width: 100%;
  height: 90vh;
  justify-content: space-between;
}

.admin * {
  box-sizing: border-box;
  border-radius: 8px;
}

.admin h3 {
  margin-top: 6px;
}

.pantryList {
  flex: none;
  border: 1px solid var(--dirt);
  min-width: 240px;
  width: 15vw;
  height: 100%;
  justify-content: flex-start;
  background-color: var(--trBrown);
  box-shadow: var(--cardShadow);
}

.pantryListEntry {
  width: 100%;
  height: 32px;
  padding: 6px;
  padding-top: 12px;
  border-radius: 0;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
}

.pantryListEntry * {
  pointer-events: none;
  user-select: none;
}

.pantryListEntry:hover {
  cursor: pointer;
  background-color: var(--trSky);
}

.pantryListBody {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  background: var(--cardGrad);
}

.pantryView {
  flex: auto;
  height: 100%;
  margin-left: 2vh;
  border: 1px solid var(--dirt);
  background-color: var(--trBrown);
  box-shadow: var(--cardShadow);
}