.homeBody {
  width: 100%;
  height: 100%;
}

.homeContainer {
  background-color: var(--trBrown);
  width: 1080px;
  height: 100%;
  border-radius: 8px;
}

.homeContainer > * {
  width: 100%;
}

.cardContainer {
  width: 100%;
  height: 95%;

  overflow: overlay;
  overflow-x: hidden;
}

.pantryPage {
  width: 95%;
  height: 100%;
  flex: none;
  border: 1px solid var(--dirt);
  border-style: none none solid;
  justify-content: flex-start;
  align-items: flex-start;
}

.pantryPageLeft {
  width: 340px;
  height: 100%;
  border: 1px solid var(--dirt);
  border-style: none solid none none;
  align-items: flex-start;
}

.pantryPageRight {
  flex: auto;
  height: 100%;
  align-items: flex-start;
  padding: 1vh;
  position: relative;
}

.pantryPageRight .register,
.pantryPageRight .registered {
  position: absolute;
  bottom: 2vh;
  right: 0;
}

.pantryPageImage {
  width: 320px;
  aspect-ratio: 1;
  margin: 1vh;
  margin-left: 0;
  border-radius: 8px;
  border: 1px solid var(--dirt);
}

.pantryInfo {
  height: 26px;
  width: 320px;
  align-items: flex-end;
}

.openDays {
  padding: 1vh;
  align-items: flex-start;
  height: 360px;
  width: 100%;
}

.pantrySchedule {
  height: 30px;
  width: 320px;
  margin-left: 2vh;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  padding: 4px;
}

.pantryHours {
  width: 140px;
  font-size: 14px;
  margin-top: 1vh;
  margin-left: 2vh;
  justify-content: flex-start;
}

.pantryHours b {
  margin-right: 2vh;
}

.pageBack {
  align-self: flex-end;
}

.pageBack:hover {
  cursor: pointer;
}

.pantryThumb {
  width: 240px;
  border-radius: 8px;
  aspect-ratio: 1;
}

.pantryCard {
  flex: none;
  width: 95%;
  padding: 1vh;
  margin-bottom: 2vh;
  margin-top: 1vh;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid var(--dirt);
  background-color: var(--trWhite);
  box-shadow: var(--cardShadow);
}

.pantryCard:hover {
  cursor: pointer;
  background: linear-gradient(to top, #ffffff9e, var(--trWhite));
}

.register, .registered {
  width: 120px;
  font-size: 19px;
  z-index: 2;
}

.registered {
  background-color: var(--dirt);
  border: 1px solid var(--dirt);
  min-height: 30px;
  border-radius: 8px;
  outline: none;
  padding: 0;
  padding-top: 2px;
  color: var(--cream);
  user-select: none;
}

.register:active {
  background-color: var(--dirt);
}

.pantryCardLeft, .pantryCardRight, .pantryCardBody {
  height: 100%;
}

.pantryCardLeft {
  justify-content: flex-start;
  align-items: flex-start;
}

.pantryCardLeft div {
  margin-bottom: 4px;
}

.pantryCardBody {
  align-items: flex-start;
  margin-left: 1vh;
  width: 200px;
}

.pantryCardMain {
  height: 100%;
  align-items: flex-start;
  margin-left: 1vh;
  padding-left: 2vh;
  border: 1px solid var(--dirt);
  border-style: none none none solid;
  flex: 2 1 auto;
}

.pantryCardRight {
  justify-content: flex-end;
  align-items: flex-end;
}

.pantryCardInfo {
  position: relative;
  align-items: flex-end;
}