.home {
  width: 100%;
  height: calc(100% - 2vh - 48px);
  margin-bottom: 2vh;

  justify-content: center;
}

.homeBody {
  width: 100%;
  height: 100%;
}

.homeContainer {
  background-color: var(--trBrown);
  width: 70%;
  min-width: 320px;
  max-width: 1080px;
  height: 100%;
  border-radius: 8px;
}

.homeContainer > * {
  width: 100%;
}

.mid {
  margin-left: 1.5vh;
  margin-right: 1.5vh;
}

.left, .right {
  width: 40%;
  height: 100%;
}

.cardContainer {
  width: 100%;
  height: 95%;

  overflow: overlay;
  overflow-x: hidden;
}

.pantryThumb {
  height: 100%;
  border-radius: 8px;
  aspect-ratio: 1/1 auto;
}

.pantryCard {
  flex: none;
  width: 95%;
  height: 240px;
  padding: 1vh;
  margin-bottom: 2vh;
  margin-top: 1vh;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid var(--dirt);
  background-color: var(--trWhite);
  box-shadow: var(--cardShadow);
}

.register, .registered {
  width: 120px;
}

.registered {
  background-color: var(--dirt);
  border: 1px solid var(--dirt);
  min-height: 30px;
  border-radius: 8px;
  outline: none;
  padding: 0;
  padding-top: 2px;
  font-size: 2vh;
  color: var(--cream);
  user-select: none;
}

.register:active {
  background-color: var(--dirt);
}

.pantryCardLeft, .pantryCardRight {
  height: 100%;
}

.pantryCardLeft {
  justify-content: flex-start;
  align-items: flex-start;
}

.pantryCardLeft div {
  margin-bottom: 4px;
}

.pantryCardRight {
  justify-content: flex-end;
  align-items: flex-end;
}

.pantryCardInfo {
  position: relative;
  align-items: flex-end;
}