.auth {
  width: 100%;
  height: 100%;
  justify-content: center;
}

.loginForm {
  width: 360px;
  height: 480px;
  padding: 1.5vh;

  background: linear-gradient(to top, var(--cream) 10%, var(--trWhite) 60%);
  box-shadow: 0 4px 4px var(--shadow);
  border-radius: 25px;
  border: 1px solid var(--brown);

  justify-content: space-between;
}

.formHead {
  margin-top: 3vh;
}

.formBody {
  width: 80%;
}

.loginInputs {
  width: 100%;
  margin-bottom: 2vh;
}

input {
  border: 1px solid var(--brown);
  box-sizing: border-box;
  outline: none;
  padding: 1vh;
  margin: 0.25vh;
  width: 100%;
  height: 40px;
  border-radius: 8px;
}

input[type='submit'], button {
  background: linear-gradient(to top, var(--leaf), var(--cream));
  border: 1px solid var(--brown);
  min-height: 24px;
  min-width: 100px;
  border-radius: 8px;
  outline: none;

  padding: 0;
  font-size: 2vh;
}

input[type='submit']:hover, button:hover {
  cursor: pointer;
  background: var(--brown);
  color: var(--cream);
}

.backButton, .signUpText {
  user-select: none;
  padding: 1vh;
  box-sizing: border-box;
  min-height: 48px;
}

.backButton:hover, .signUpText:hover {
  cursor: pointer;
}