.auth {
  width: 100%;
  height: 100%;
  justify-content: center;
}

.loginForm {
  width: 360px;
  height: 480px;
  padding: 1.5vh;
  background: linear-gradient(to top, rgb(251 220 200) 10%, var(--trWhite) 90%);
  box-shadow: var(--cardShadow);
  border-radius: 25px;
  border: 1px solid var(--dirt);
  justify-content: space-between;
}

.formHead {
  margin-top: 3vh;
}

.formBody {
  width: 80%;
}

.loginInputs {
  width: 100%;
  margin-bottom: 2vh;
}

.backButton, .signUpText {
  user-select: none;
  padding: 1vh;
  box-sizing: border-box;
  min-height: 48px;
}

.backButton:hover, .signUpText:hover {
  cursor: pointer;
}