.pantryView {
  flex: auto;
  height: 100%;
  width: calc(100% - 240px - 6vh);
  margin-left: 2vh;
  border: 1px solid var(--dirt);
  background: linear-gradient(to top, var(--lightBrown) 1%, rgb(251 220 200) 1%, #eddfdabd 95%);
  box-shadow: var(--cardShadow);
}

.pantryView * {
  border-radius: 0;
}

.pantry {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  background: var(--cardGrad);
}

.pantryAll {
  width: calc(100% + 250px);
  height: 100%;
  align-items: flex-start;
  position: relative;
  overflow-x: hidden;
  font-size: 13px;
  transition: width 0.5s cubic-bezier(0.19, 0.02, 0.55, 0.95);
}

.smallPantry {
  width: 100%;
}

.pantryMain {
  width: calc(100% - 250px);
  height: calc(100% - 1vh);
  flex: none;
  overflow: auto;
}

.pantryHead {
  width: 100%;
  height: 32px;
  justify-content: space-between;
  padding: 6px;
  border: 1px solid var(--dirt);
  border-style: none none solid;
}

.searchInterface {
  align-items: flex-end;
}

.searchInterface select, .searchInterface input {
  width: 200px;
  height: 24px;
  margin: 0;
  margin-left: 8px;
  margin-right: 6px;
  border-radius: 4px !important;
  padding: 0;
  padding-left: 4px;
  padding-top: 4px;
  background-color: var(--trWhite);
}

#searchSelect {
  padding-left: 0;
  width: 100px;
}

#searchDir {
  margin-left: -2px;
  width: 100px;
}

.customerList {
  width: 100%;
  height: calc(100% - 32px);
}

.customerLabels {
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 32px;
  padding: 6px;
  border: 1px solid var(--dirt);
  border-radius: 0;
  border-style: none none solid;
  background-color: var(--trLeaf);
}

.customerLabel, .customerInfo {
  width: 10%;
  min-width: 60px;
  background: linear-gradient(to right, black 90%, transparent);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  white-space: nowrap;
}

.customerData {
  width: 100%;
  height: 95%;
  overflow-y: overlay;
}

.customerEntry {
  justify-content: flex-start;
  flex: none;
  width: 100%;
  height: 36px;
  padding: 6px;
  padding-left: 8px;
  padding-top: 12px;
  border-radius: 0;
}

.customerEntry:hover {
  background-color: var(--trSky);
  cursor: text;
}

.customerEditForm {
  justify-content: flex-start;
  width: 100%;
  height: 36px;
  padding: 6px;
  padding-bottom: 2px;
  padding-left: 8px;
  border-radius: 0;
  border: 1px solid #bb5050;
  border-style: solid none;
  background-color: #ff9d92b0;
  flex: none;
}

.customerEdit {
  width: 10%;
  margin: 0;
  height: 100%;
  padding: 4px;
  padding: 0;
  border: 0;
  background: transparent;
}

.editHead {
  height: 26px;
  padding: 6px;
  padding-bottom: 4px;
  padding-right: 18px;
  background-color: #d4463fbd;
  font-size: 18px;
  color: var(--cream);
}

.editButton {
  width: 50px;
  justify-content: flex-end;
}

.editButton:hover {
  cursor: pointer;
}

.editSelect {
  background-color: var(--trWhite);
  margin: -1px;
  margin-left: -8px;
  padding: 0;
  height: 100%;
  width: 90%;
}

.customerEdit::placeholder {
  color: black;
}

.sCol {
  width: 5%;
  min-width: 24px;
}

.mCol {
  min-width: 100px;
}

.lCol {
  width: 16%;
}

/* Change Autocomplete styles in Chrome*/

.customerEdit:-webkit-autofill,
.customerEdit:-webkit-autofill:hover,
.customerEdit:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffaba1 inset;
  transition: background-color 5000s ease-in-out 0s;
}