
.pantryView * {
  border-radius: 0;
}

.pantry {
  width: 100%;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  border-radius: 8px;

  background: var(--cardGrad);
}

.pantryHead {
  width: 100%;
  height: 32px;
  justify-content: flex-end;
  padding: 6px;
  border: 1px solid var(--dirt);
  border-style: none none solid;
}

.customerList {
  width: 100%;
  height: calc(100% - 32px);
}

.customerLabels {
  justify-content: flex-start;
  width: 100%;
  height: 32px;
  padding: 6px;
  border: 1px solid var(--dirt);
  border-radius: 0;
  border-style: none none solid;
  background-color: var(--trLeaf);
}

.customerLabel, .customerInfo {
  width: 10%;

  background: linear-gradient(to right, black 90%, transparent);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

  white-space: nowrap;
}

.customerData {
  width: 100%;
  height: 95%;
  overflow: overlay;
}

.customerEntry {
  justify-content: flex-start;
  width: 100%;
  height: 36px;
  padding: 6px;
  padding-left: 8px;
  padding-top: 12px;
  border-radius: 0;
}

.customerEntry:hover {
  background-color: var(--trSky);
  cursor: text;
}

.customerInfo {
  font-size: 15px;
}

.customerEditForm {
  justify-content: flex-start;
  width: 100%;
  height: 36px;
  padding: 6px;
  padding-bottom: 2px;
  padding-left: 8px;
  border-radius: 0;
  border: 1px solid #bb5050;
  border-style: solid none;
  background-color: #ff9d92b0;
  flex: none;
}

.customerEdit {
  width: 10%;
  margin: 0;
  height: 100%;
  padding: 4px;
  padding: 0;
  border: 0;
  font-size: 15px;
  background: transparent;
}

.editHead {
  height: 26px;
  padding: 6px;
  padding-bottom: 4px;
  padding-right: 18px;
  background-color: #d4463fbd;
  font-size: 18px;
  color: var(--cream);
}

.editButton {
  width: 50px;
  justify-content: flex-end;
}

.editButton:hover {
  cursor: pointer;
}

.editSelect {
  background-color: var(--trWhite);
  margin: -1px;
  margin-left: -8px;
  padding: 0;
  height: 100%;
  width: 90%;
}

.customerEdit::placeholder {
  color: black;
}

.sCol {
  width: 5%;
}

.lCol {
  width: 16%;
}

/* Change Autocomplete styles in Chrome*/

.customerEdit:-webkit-autofill,
.customerEdit:-webkit-autofill:hover,
.customerEdit:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffaba1 inset;
  transition: background-color 5000s ease-in-out 0s;
}