:root {
  --bg: #dabeb4;
  --lightBrown: #e0cac2;
  --dirt: #86716a;
  --gold: #ffbc90;
  --salmon: #ff9d90;
  --rosewood: #a0483c;
  --leaf: #c6d960;
  --sky: #41aadd;
  --coffee: #44231b;
  --cream: rgb(255, 239, 229);

  --lightText: rgb(255, 232, 217);
  --darkText: #3d1a15;

  --trWhite: #ffffff56;
  --trLeaf: #c7d96075;
  --shadow: #39161042;

  --cardShadow: 0 2px 4px var(--shadow);
  --cardGrad: linear-gradient(to top, var(--lightBrown) 1%, rgb(251 220 200) 1%, var(--trWhite) 60%, transparent 95%);
}

html, body, #root, .app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Roboto;

  background: linear-gradient(to top, #d7a490, var(--bg));
  color: var(--darkText);
}

.app * {
  z-index: 1;
}

.bgImg {
  position: absolute;
  bottom: 0;
  z-index: 0 !important;
  opacity: 80%;
  width: 100%;
  aspect-ratio: 16/9 auto;
}

.main {
  padding: 2vh;
  height: 100%;
  width: 100%;
}

h1, h2, h3 {
  margin: 0;
}

.v {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.h {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.light {
  background-color: var(--trWhite);
}

/* */

.topBar {
  width: 100%;
  height: 36px;
  padding: 6px;
  border: 1px solid var(--dirt);
  border-radius: 0 !important;
  border-style: none none solid none;

  background: linear-gradient(to top, var(--trWhite) 90%, transparent 90%);
}

.card {
  flex: auto;
  border: 1px solid var(--dirt);
  border-radius: 8px;
  background: var(--cardGrad);
  box-shadow: var(--cardShadow);
  padding: 2vh;
  box-sizing: border-box;
}

.noPad {
  padding: 0;
}

.icon:hover {
  color: var(--sky);
  cursor: pointer;
}

input, select {
  border: 1px solid var(--dirt);
  box-sizing: border-box;
  outline: none;
  padding: 1vh;
  margin: 0.25vh;
  width: 100%;
  height: 40px;
  border-radius: 8px;
}

select {
  padding: 0.5vh;
}

input[type='submit'], button {
  background-color: var(--leaf);
  border: 1px solid var(--dirt);
  min-height: 30px;
  min-width: 100px;
  border-radius: 8px;
  outline: none;
  padding: 0;
  font-size: 2vh;
  box-shadow: 0 1px 2px var(--shadow);
}

input[type='submit']:hover, button:hover {
  cursor: pointer;
  background-color: var(--dirt);
  color: var(--cream);

  transition: background-color 0.2s, color 0.5s;
}

input[type='submit']:active, button:active {
  cursor: pointer;
  background-color: var(--sky);
  box-shadow: none;
  transition: none;
}

::-webkit-scrollbar {
  background: none;
  border-style: none;
  width: 0.7vw;
  min-width: 6px;

  height: 98%;
}

::-webkit-scrollbar-thumb {
  border: 1px solid var(--dirt);
  border-right-color: transparent;
  background-color: var(--trLeaf);
  border-radius: 20px 0 0 20px;
}

/* HEADER */

.header {
  flex: none;
  width: 100%;
  height: 48px;
  padding-left: 2vh;
  padding-right: 2vh;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid var(--darkText);
  border-style: none none solid none;
}

.headerText {
  height: 100%;
  align-items: self-end;
}

.headButton {
  padding: 4px;
  box-sizing: border-box;
  height: 100%;
  justify-content: flex-end;
}

.headButton:hover {
  cursor: pointer;
  background: linear-gradient(to top, var(--leaf), transparent);
}

/* --- */

.alert {
  z-index: 11;
  position: absolute;
  bottom: 10vh;
  min-width: 200px;
  width: max-content;
  padding: 1vh;
  border-radius: 25px;
  border: 2px solid var(--dirt);
  box-shadow: 0 2px 3px var(--shadow);
  background-color: var(--cream);
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.1s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}